<html>
    <head>
        <link rel="stylesheet" href="../public/style.css"/>
    </head>
        <body>
<form action="/" method="POST">
            <h1> Let's not wait for the perfect look</h1>
            <div class="parent">
            <div class="first">
            <input type="text" placeholder="name" name="name"/>
            <input type="number" placeholder="contact" name="contact"/>
            <input type="email" placeholder="email" name="email"/>
        </div>
        <div class="second">
            <input type="text" placeholder="Gender" name="Gender"/>
            <input type="text" placeholder="service type" name="service"/>
            <input type="text" placeholder="location" name="location"/>
        </div>
            <div class="third">
        <input type="submit" value="book appointment" id="third"/>
        </div>
</div>
</form>
        </body>
  
</html>